<header class="header">
  <img alt="Al mundo Logo" class="logo" src="../assets/logo-almundo.svg">
</header>
<main class="main-container">
  <section class="filters col-3" [class.filterActive]="filterActive">
    <div class="title">
      <h2 class="title-text" [class.active]="filterActive" (click)="toogleFilterMenu()">Filtrar</h2>
      <h2 class="title-text--desktop">Filtros</h2>
    </div>
    <div class="hotelFilter">
      <h3 class="section-title" (click)="toogleFilterName()"><i class="icon-search"></i> Nombre de hotel</h3>
      <input class="hotel-input" [value]="hotel" (input)="hotel = $event.target.value" placeholder="Ingrese el nombre del hotel">
      <button class="button filter-button" name="buscar" (click)="filter()">Aceptar</button>
    </div>
    <div class="starsFilter">
      <h3 class="section-title" [class.active]="filterActive" (click)="toogleFilterStars()"><i class="icon-star"></i> Estrellas</h3>
      <div class="checkbox">
        <input name="allstars" class="checkbox-input" type="checkbox" [checked]="allStars" (change)="toogleAllStars(); filter()"/>
        <label for="allStars" class="allStars-label">Todas las estrellas</label>
      </div>
      <div class="checkbox">
        <input class="checkbox-input" type="checkbox" [checked]="stars5" (change)="stars5 = !stars5; filter()" />
        <i class="icon-star icon-star-orange" name="star"></i>
        <i class="icon-star icon-star-orange" name="star"></i>
        <i class="icon-star icon-star-orange" name="star"></i>
        <i class="icon-star icon-star-orange" name="star"></i>
        <i class="icon-star icon-star-orange" name="star"></i>
      </div>
      <div class="checkbox">
        <input class="checkbox-input" type="checkbox" [checked]="stars4" (change)="stars4 = !stars4; filter()" />
        <i class="icon-star icon-star-orange" name="star"></i>
        <i class="icon-star icon-star-orange" name="star"></i>
        <i class="icon-star icon-star-orange" name="star"></i>
        <i class="icon-star icon-star-orange" name="star"></i>
      </div>
      <div class="checkbox">
        <input class="checkbox-input" type="checkbox" [checked]="stars3" (change)="stars3 = !stars3; filter()" />
        <i class="icon-star icon-star-orange" name="star"></i>
        <i class="icon-star icon-star-orange" name="star"></i>
        <i class="icon-star icon-star-orange" name="star"></i>
      </div>
      <div class="checkbox">
        <input class="checkbox-input" type="checkbox" [checked]="stars2" (change)="stars2 = !stars2; filter()" />
        <i class="icon-star icon-star-orange" name="star"></i>
        <i class="icon-star icon-star-orange" name="star"></i>
      </div>
      <div class="checkbox">
        <input class="checkbox-input" type="checkbox" [checked]="stars1" (change)="stars1 = !stars1; filter()" />
        <i class="icon-star icon-star-orange" name="star"></i>
      </div>
    </div>
  </section>
  <section class="hotels col-9">
    <li class="hotel" *ngFor="let hotel of hotels">
      <img class="hotel-image" src="../assets/hotels/{{hotel.image}}" />
      <div class="hotel-section1">
        <a class="hotel-name"> {{hotel.name}} </a>
        <div class="hotel-stars">
          <i class="icon-star icon-star-orange" name="star" *ngIf="hotel.stars >= 1"></i>
          <i class="icon-star icon-star-orange" name="star" *ngIf="hotel.stars >= 2"></i>
          <i class="icon-star icon-star-orange" name="star" *ngIf="hotel.stars >= 3"></i>
          <i class="icon-star icon-star-orange" name="star" *ngIf="hotel.stars >= 4"></i>
          <i class="icon-star icon-star-orange" name="star" *ngIf="hotel.stars >= 5"></i>
        </div>
        <div class="hotel-amenities">
          <i *ngFor="let amenity of hotel.amenities" class="icon-amenity icon-{{amenity}}"></i>
        </div>
      </div>
      <div class="hotel-section2">
        <p class="hotel-price-msg"> Precio por noche habitación</p>
        <p class="hotel-price">ARS <b>{{hotel.price}}</b></p>
        <a class="button hotel-button">Ver hotel</a>
      </div>
    </li>
  </section>
</main>
